body{
   margin: 0; 
   /* height: 100%; */
}

section {
   height: 100%;
}


.section-h1{
   width: 100%;
   text-align: center;
   background-color: aqua;
}

section > div {
  height: 100%;
  padding: 15px 10px 14px 12px; 
  border: 5px black solid;
  margin: 8px 6px 9px 5px;
  width: 50%;
  display: inline-block;
}

.first-box {
   height: 300px;  
   width: 43%;
   /* display: none; */
}

.second-box:hover {
   color:white; 
   background-color: black;
}