.main-tag__content {
   margin:auto; 
}

main {
   padding-top: 32px;
 
}

.package{
   background: rgb(195, 238, 195);
   border: 4px solid #0e4f1f;
   margin: 16px 0; 
   width: 80%;
   border-left: none;
}

.package:hover,
.package:active {
   box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
   border-color: #ff5454;
}

.package__container{
   text-decoration: none;
   padding: 32px;
   color: inherit; 
   display: block; 

  
}
.package__title {
   font-weight: bold;
   color: black; 
   padding: 15px;
}

.package__subtitle {
   padding-left: 15px;
   margin:0; 
   color: #999999;
}

.package__info{
   background: white;
   padding: 16px;
   border: 1px solid rgb(1, 34, 1);
   margin: 10px 15px 30px 15px; 
   color: rgb(1, 34, 1);
   font-size: 20px;
}

.clearfix {
   clear: both; 
}

#plus{
   background: rgba(213,255,220, 0.95);
}

#free {
   background: rgba(234, 252, 237, 0.95);
   float: right;
   border-right: none; 
   border-left: 4px solid #0e4f1f;
}

#free:hover,
#free:active {
   box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
   border-color: #ff5454;
}

#premium {
   background: rgba(14,79,31,0.95);
}

#premium .package__title {
   color: white; 
}

#premium .package__subtitle {
   color: #bbb; 
}